<div class="center jumbotron">
    <div class="content-img">
        <h1>ALPHA BLOG</h1>
        <%= link_to 'Sign up now', "#", type:"button", class:"btn btn-success btn-lg btn-xlarge"%>
    </div>
</div>
