<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; the Complete Ruby on Rails Developer
            <br>by<a href="https://portfolio-d7ad3.firebaseapp.com/" target="blank">Ryo Sugimoto</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path%></li>
            </ul>
        </nav>
    </footer>
</div>